/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Header Styles */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.header .navs ul li a:hover {
    text-decoration: underline;
}

header nav ul li a img {
    height: 40px;
}



/* Main Content Styles */
main {
    margin-top: 20px;
}

main h2 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;

}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
}

.card-body {
    padding: 20px;
}

.card-body h5,
.card-body p {
    margin-bottom: 10px;
}

.card-body .btn {
    margin-top: 15px;
}

/* Modal Styles */
.modal-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-header .btn-close {
    background-color: #fff;
}

.modal-content {
    border-radius: 10px;
}

.modal-body .form-label {
    font-weight: bold;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border: none;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border: none;
}

/* Form Styles */
.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

#password_match_message {
    display: block;
    margin-top: 5px;
}

#save_changes_button {
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .card-body .btn {
        width: 100%;
        margin-top: 10px;
    }

    .modal-body .d-flex {
        flex-direction: column;
    }

    .modal-body .d-flex input {
        margin-bottom: 10px;
    }
}
