@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 13px;
    margin-top: 0;
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto;
    max-width: 100%; /* Ensure container fills the screen width */
}

.header {
    display: flex;
    justify-content: space-between; /* Space between the logo and navigation */
    align-items: center;
    border: 1px solid;
    padding: 10px;
    margin-top: 0;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

.logo {
    width: 50px;
    height: 50px;
    border: 0px solid blue;
    padding: 4px 0px;
    border-radius: 60px;
}

.logo img {
    width: 100%; /* Make the logo fill the container */
    height: auto;
}

/* Navigation styles */
.navbar {
    background-color: #007BFF;
    padding: 1px 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Align navigation items to the left */
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item a {
    color:white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.navbar-right {
    margin-left: auto; /* Push My Profile item to the right corner */
}

.content_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    border: 1px solid;
    margin-top: 0px;
    height: 650px;
    background-color: #007BFF;
    color: white;
    
}

.sidebar .nav_links ul li a:hover {
    background-color: #007bff;
    color: white;
}

.patient_desc {
    display: flex;
    flex-direction: column;
}

#patient_img {
    width: 90px;
    height: 80px;
    border-radius: 40px;
}

.patient_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    position: relative;
}

.nav_links ul li {
    list-style: none;
}

.nav_links ul li,
.nav_links ul li a {
    padding: 10px;
}

.nav_links ul li a i {
    padding-right: 0px;
    font-size: 20px;
    color: black;
}

.nav_links ul li a {
    text-decoration: none;
    color: black;
}

.footer p {
    text-align: center;
}
